.main{
  max-width: 1920px;
  margin: 0 auto;
  .header{
    
    .header-layer{
      display: flex;
      flex-direction: row;
      position: relative;
      .welcome{
        width: 42.8125%;
        .logo{
          color: #286EDC;
          font-size: 60px;
          margin-top: 50px;
          margin-left: 45px;
        }
        
      }
      .banner{
        width: 100%;
        background-image: url('./images/banner.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &:before{
          content: "";
          display: block;
          padding-top: 100%;
        }
        display: flex;
        flex-direction: row;
        padding-top: 99px;
        .nav{
          display: flex;
          flex-direction: row;
          padding-left: 13%;
          width: 84%;
          color: #fff;
          .item{
            width: 36px;
            height: 30px;
            line-height: 30px;
            margin-left: 8.5610%;
            font-size: 14px;
            &:nth-child(1){
              margin-left: 0;
            }
            &.private{
              width: 72px;
              line-height: 30px;
            }
          }
          
          .item-btn{
            width: 90px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            background-color: #fff;
            border-radius: 15px;
            color: #000;
            margin-right: 10px;
            &:nth-child(2){
              margin-right: 0;
            }
            &.active{
              color: #1580FE;
            }
          }
        }
        .search{
          display: flex;
          flex-direction: row;
        }
      }
    }
    .header-body{
      position: absolute;
      top: 143px;
      left: 50%;
      margin-left: -600px;
      width: 1200px;
      .travel-title{
        width: 331px;
        height: 118px;
        font-size: 42px;
        color: #000000;
        letter-spacing: 5.25px;
      }
      .travel-sub{
        color: #ACA9BC;
        font-size: 14px;
        margin-top: 25px;
        width: 363px;
        height: 80px;
        letter-spacing: 1.75px;
        line-height: 40px;
      }
      .start{
        margin-top: 61px;
        width: 246px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        opacity: 0.94;
        background: #588EE3;
        box-shadow: 0 6px 20px 0 rgba(153,153,153,0.50);
        border-radius: 40px;
        border-radius: 40px;
      }
    }
  }
  .body{
    width: 1200px;
    margin: 0 auto;
    color: #fff;
    .hot{
      margin-top: 20px;
      .raiders{
        width: 216px;
        height: 46px;
        margin: 0 auto;
        line-height: 46px;
        text-align: center;
        font-size: 30px;
        color: #000;
        letter-spacing: 6px;
      }
      .sub{
        text-align: center;
        height: 28px;
        line-height: 28px;
        margin: 0 auto;
        font-size: 18px;
        color: #CFCDD8;
        letter-spacing: 4px;
      }
      .line{
        background-color: #6194E4;
        width: 100px;
        height: 6px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 28px;
      }
      .hot-map{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .item{
          width: 280px;
          height: 280px;
          background: #FFFFFF;
          box-shadow: 0 0 11px 2px rgba(221,219,219,0.50);
          border-radius: 20px;
          border-radius: 20px;
          padding: 8px;
          .img{
            width: 264px;
            height: 163px;
            margin: 0 auto;
            img{
              width: 100%;
            }
          }
          .title{
            margin-top: 10px;
            text-align: left;
            font-size: 14px;
            color: #000;
            letter-spacing: 2.8px;
          }
          .view{
            margin-top: 15px;
            width: 120px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin: 0 auto;
            opacity: 0.94;
            background: #588EE3;
            border-radius: 40px;
            border-radius: 40px;
          }
        }
      }
      .hot-border{
        border: 1px solid #DDDBDB;
        box-shadow: 10px 10px 5px #DDDBDB;
        border-radius: 20px;
        .hot-source{
          display: flex;
          flex-direction: row;
          
          .img{
            width: 600px;
            img{
              width: 100%;
            }
          }
          .brief{
            width: calc(100% - 600px);
            padding: 25px 15px;
            .title{
              text-align: center;
              font-size: 20px;
              color: #000;
            }
            .main{
              font-size: 16px;
              color: #CFCDD8;
            }
          }
        }
      }
      
    }
  }
  
}
